<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">
    <!-- 向订单表插入一条数据 -->
    <insert id="insert" parameterType="com.sky.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders 
        (user_id, address_book_id, order_time, pay_status,
         status, number, phone, consignee, checkout_time,
         pay_method, amount, remark, address, estimated_delivery_time,
         delivery_status, pack_amount, tableware_number, tableware_status)
        values 
        (#{userId}, #{addressBookId}, #{orderTime},
         #{payStatus}, #{status}, #{number}, #{phone},
         #{consignee}, #{checkoutTime}, #{payMethod},
         #{amount}, #{remark}, #{address},
         #{estimatedDeliveryTime}, #{deliveryStatus},
         #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <!-- 更新订单信息 -->
    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="checkoutTime != null">checkout_time = #{checkoutTime},</if>
        </set>
        where id = #{id}
    </update>
    <!-- 历史订单分页查询 -->
    <select id="pageQuery" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="ordersPageQueryDTO.number != null and ordersPageQueryDTO.number!=''">
                and number like concat('%',#{ordersPageQueryDTO.number},'%')
            </if>
            <if test="ordersPageQueryDTO.phone != null and ordersPageQueryDTO.phone!=''">
                and phone like concat('%',#{ordersPageQueryDTO.phone},'%')
            </if>
            <if test="ordersPageQueryDTO.userId != null">
                and user_id = #{ordersPageQueryDTO.userId}
            </if>
            <if test="ordersPageQueryDTO.status != null">
                and status = #{ordersPageQueryDTO.status}
            </if>
            <if test="ordersPageQueryDTO.beginTime != null">
                and order_time &gt;= #{ordersPageQueryDTO.beginTime}
            </if>
            <if test="ordersPageQueryDTO.endTime != null">
                and order_time &lt;= #{ordersPageQueryDTO.endTime}
            </if>
        </where>
        order by order_time desc
    </select>

</mapper>